// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    display: flex;
    flex-direction: column;
}

img {
    height: 30em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

th {
    text-align: center;
    font-size: 1.5em;
}

// td {
//     text-align: center;
//     font-size: 1.5em;
// }